DATABASE_URL=https://yjveiukuqlnouutkuqxj.supabase.co
REDIS_URL=https://aws-us-east-1.memory.redis.io
JWT_SECRET=
CLOUDINARY_CLOUD_NAME="IMChat"
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
